.ProductDetails{
    margin-left: 5rem;
    color: var(--textColor);
}
.ProductDetails #Rating{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.ProductDetails #Rating p{
    margin: 1px;
}

.ProductDetails #Price{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.ProductDetails #Price p{
    margin: 15px 0;
}
.ProductDetails #Price #Offer{
    font-size: 20px;
}
.ProductDetails #Price #Actual{
    text-decoration: line-through;
    color: #848484;
}

.ProductDetails #Price #Discount{
    color:#0A8200 ;
}
.ProductDetails .Sizes{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.ProductDetails .Sizes .Size{

    display: flex;
    border: 1px solid #848484 ;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.25s;
}
.ProductDetails .Sizes .Size:hover:not(.NoStock){
    background-color: #000000;
    color: white;
}
.ProductDetails .Sizes .NoStock{
    position: relative;
    color: #848484  ;
    cursor: not-allowed;
}
.ProductDetails .Sizes .NoStock .line{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:#848484 ;
    transform: rotate(-60deg);
}

.ProductDetails .Colors{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.ProductDetails .Colors .color{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transition-duration: 0.25s;
    cursor: pointer;
}
.ProductDetails .Colors .color:hover{
    scale: 1.2;
}

.ProductDetails .buttons{
    padding: 1rem 0px;
    display: flex ;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.ProductDetails .buttons button{
    font-size: 16px;
    padding: 1rem 3rem;
    border-radius: 15px;
    border: none;
    background-color:#002482 ;
    color: white;
    transition-duration: 0.25s;
    cursor: pointer;
}

.ProductDetails .buttons button:hover{
    background-color: #263c75;
}

.ProductDetails .buttons #fav{
    width: 2rem;
    height: 2rem;
    color: grey;
    transition-duration: 0.25s;
    cursor: pointer;
}

.ProductDetails .buttons #fav:hover{
    color: darkred;
}