.AccountSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    background-color: transparent;
}
.AccountSection button{
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    outline: 1px black;
    border-radius: 50%;
    transition-duration: 0.5s;
    text-align: center;
}
.AccountSection button svg{
    height: 1.5rem;
    width: 1.5rem;
    color: var(--textColor);
}
.AccountSection button:hover {
    background: rgba(208, 206, 206, 0.48);

}

.AccountSection .profile{
    display: flex;
    margin-left: 1rem;
    height: 40px;
    cursor: pointer;
    width: fit-content;
    align-items: center;
}

.AccountSection .profile img{
    aspect-ratio: 1 / 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.AccountSection .profile p{
    margin: auto 0.5rem;
    color: var(--textColor);
    transition-duration: 0.5s
}

.AccountSection .profile:hover p{
    color: grey;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .AccountSection {
        width: fit-content;
    }
}
@media (max-width: 768px)  {
    .AccountSection{
        width: 80%;
        justify-content: space-around;
    }
}
