.ProductCard{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:var(--accentColor) ;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px var(--shadowColor);
    border-radius: 10px;
    text-decoration: none;
}
.ProductCard img{
    aspect-ratio: 1/1;
    height: 220px ;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.ProductCard .detailsContainer{

}
.ProductCard #itemName{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: var(--textColor);
}
.ProductCard #Section1{
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}

.ProductCard #Section1 h4 {
    width: 90%;
    margin: 0;
    color: var(--textColor);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ProductCard #Section1 p{
    margin: 0;
    color: var(--textColor);
    /*color: #848484;*/
}
.ProductCard #Section1 #icon{
    color: var(--textColor);
    width: 1.5rem;

}

.ProductCard #Section2{
    display: flex;
    width: 100%;
   justify-content: space-between;
    padding: 0 1rem 0 0 ;
    box-sizing: border-box;
}

.ProductCard #Section2 .priceData{
    margin-top: 0;
    margin-left: 0.5rem;
    font-size: 95%;
}

.ProductCard #Section2 p{
    color: var(--accentColor3);
}

.ProductCard #itemName ,.ProductCard #Section1,.ProductCard #Section2 #priceData {
    margin-left: 0.5rem;
}

.ProductCard #Section2 #actual{
    text-decoration: line-through;
    color: var(--accentColor2);
}
.ProductCard #Section2 #offer{
    color: var(--textColor);
}

@media (max-width: 768px) {
   /*.ProductCard{*/
   /*    width: 13.5rem;*/
   /*}*/
    .ProductCard img{
        width: 100%;
    }
    .ProductCard #itemName{
        font-size: 3.5vw;
        width: 95%;
    }
    .ProductCard #Section1{
        font-size: 13px;
    }
    .ProductCard #Section1 h4 {
        margin-right: 0;
    }
    /*.ProductCard #Section2{*/
    /*    font-size: 12px;*/
    /*}*/
    .ProductCard #Section2 #discount{
    display: none;
    }
}