.ProductCard{
    display: flex;
    width: fit-content;
    flex-direction: column;
    background-color:var(--accentColor) ;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px var(--shadowColor);
    border-radius: 10px;
    text-decoration: none;
}
.ProductCard img{
    aspect-ratio: 1/1;
    height: 220px ;
    width: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.ProductCard #itemName{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 15rem;
    color: var(--textColor);
}
.ProductCard #Section1{
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 1rem;
}

.ProductCard #Section1 h4 {
    width: 9rem;
    margin-right: 3rem;
    margin-top: 0;
    color: var(--textColor);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ProductCard #Section1 p{
    margin-top: 0;
    color: var(--textColor);
    /*color: #848484;*/
}

.ProductCard #Section2{
    display: flex;
    width: 100%;
}

.ProductCard #Section2 .priceData{
    margin-top: 0;
    margin-left: 1rem;
}

.ProductCard #Section2 p{
    color: var(--accentColor3);
}

.ProductCard #itemName ,.ProductCard #Section1,.ProductCard #Section2 #priceData {
    margin-left: 1rem;
}

.ProductCard #Section2 #actual{
    text-decoration: line-through;
    color: var(--accentColor2);
}
.ProductCard #Section2 #offer{
    color: var(--textColor);
}