:root{}

.MailField{
    background: transparent;
    border-radius: 2px;
    width: 20rem;
    border: #C4C4C4 1px solid;

}

.MailField #InputField{
    width: 14rem;
    height: 2.1rem;
    background: transparent;
    outline: transparent;
    border: transparent;
    margin-left: 1rem;
    color: #FFFFFF;
    font-family: 'Libre Baskerville', serif;
}

.MailField #icon{
    margin-left: 1rem;
    color: #706f6f;
}