:root{}

.MailField{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: 2px;
    width: 100%;
    border: #C4C4C4 1px solid;

}

.MailField #InputField{
    width: 80%;
    height: 2.1rem;
    background: transparent;
    outline: transparent;
    border: transparent;
    color: #FFFFFF;
    font-family: 'Libre Baskerville', serif;
}

.MailField #icon{
    color: #706f6f;
}

.MailField #icon svg{
    width: 1rem;
}