.Comments{
    margin-top: 2rem;
    font-family: 'Libre Baskerville', serif;

}
.Comments .swiper{
    padding: 1rem !important;
}
.Comments h2{
    font-size: 28px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    color: var(--textColor);
}

.Comment{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px var(--shadowColor);
    border-radius: 10px;
    background-color: var(--accentColor);
}
.Comment img{
    aspect-ratio: 1/1;
    height: 10vw ;
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
}

.Comment #Section1{

    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 1rem;
}

.Comment #text {
    text-align: center;
    width: 100%;
    margin-top: 0;
    color: var(--textColor);
}

.Comment #Section1 p{
    margin-top: 0;
    color: var(--textColor);
}
.Comment #Section1 p svg{
    width: 1.1rem;
}
.swiper-button-prev, .swiper-button-next{
    background-color: black;
    border-radius: 50%;
    width: 46px !important;
    height: 46px !important;
    font-size: 14px;

    color: #ffffff !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 23px;
}
@media (max-width: 768px) {
    .Comments h2{
        font-size: 24px;
        margin: 0 0 1rem 0;
        text-align: center;
    }
    .Comment{
        padding: 2.5rem;
    }

}







