:root{
  --backGroundColor: #111B21;
  --shadowColor: rgba(169, 169, 169, 0.2);
  --accentColor: #243138;
  --accentColor1: #9d9d9d;
  --accentColor2: #9d9d9d;
  --accentColor3: #88ee80;
  --accentColor4: #444444;
  --textColor: #d5d5d5;
  --LogoFilter: invert(100%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(110%) contrast(101%);
  --footerColor:#243138;
  --hoverColor: #707070;
  --bulletColor1: #000000;
  --bulletColor2: #adadad;
  --swiper-pagination-color: var(--bulletColor2);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bottom: -2px;
  --swiper-pagination-bullet-inactive-color: var(--accentColor4);
  --swiper-pagination-bullet-inactive-opacity: 0.5;

}
/*.swiper .swiper-slide{*/
/*  width: fit-content !important;*/
/*}*/
*{
  font-family: 'Libre Baskerville', serif;
  scrollbar-gutter: stable;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #5e5e5e #ffffff;
  /*margin: 0;*/
}
body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 10px;
  border: none;
}


.MainContainer {
  background-color: var(--backGroundColor);
  transition-duration: 0.5s;
  margin: 0;
  padding: 0;
}
