.Details{
    display: none;
}
.Ratings{
    display: none;
}
.Specification{
    display: none;
}
.activePage{
    display: block;

}
.Ratings .Review{
    margin: 3rem 0 ;
}

.Ratings .ReviewImages{
    display: flex;
    width: 45%;
    justify-content: space-around;
}

.Ratings .ReviewImages img{
    aspect-ratio: 1/1;
    width: 8rem;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .Ratings .ReviewImages img{
        aspect-ratio: 1/1;
        width: 5rem;
        object-fit: cover;
        border-radius: 10px;
    }
    .Ratings .ReviewImages{
        width: 100%;
        justify-content: space-around;
    }
}