.TrendingItems{
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Libre Baskerville', serif;
}
.TrendingItems .swiper{
    padding: 1rem !important;
}
.TrendingItems h2{
    font-size: 28px;
    margin-bottom: 2rem;
}

.TrendingItem{
    display: flex;
    width: fit-content;
    flex-direction: column;
    box-shadow: 0 0 10px 1px rgba(138, 136, 136, 0.63);
    -webkit-box-shadow: 0 0 10px 1px rgba(138, 136, 136, 0.63);
    -moz-box-shadow: 0 0 10px 1px rgba(59, 58, 58, 0.78);
    border-radius: 10px;
}
.TrendingItem img{
    aspect-ratio: 1/1;
    height: 220px ;
    width: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.TrendingItem #Section1{
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 1rem;
}

.TrendingItem #Section1 h4 {
    margin-right: 3rem;
    margin-top: 0;
    color: #272727;
}

.TrendingItem #Section1 p{
    margin-top: 0;
    color: #848484;
}

.TrendingItem #Section2{
    display: flex;
    width: 100%;
}

.TrendingItem #Section2 #priceData{
    margin-top: 0;
    margin-left: 1rem;
}

.TrendingItem #Section2 p{
    color: #0A8200;
}

.TrendingItem #itemName ,.TrendingItem #Section1,.TrendingItem #Section2 #priceData {
    margin-left: 1rem;
}
