.TrendingItems{
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Libre Baskerville', serif;
}

.TrendingItems h2{
    font-size: 28px;
    margin-bottom: 2rem;
}

.TrendingItem{
    display: flex;
    flex-direction: column;
}

.TrendingItem img{
    aspect-ratio: 1/1;
    height: 220px ;
    width: 280px;
    object-fit: contain;
}

.TrendingItem #Section1{
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.TrendingItem #Section1 h4 {
    margin-right: 3rem;
    margin-top: 0;
    color: #272727;
}

.TrendingItem #Section1 p{
    margin-top: 0;
    color: #848484;
}

.TrendingItem #Section2{
    display: flex;
    width: 100%;
}

.TrendingItem #Section2 h3, .TrendingItem #Section2 h4, .TrendingItem #Section2 p{
    margin-top: 0;
    margin-right: 1rem;
}

.TrendingItem #Section2 p{
    color: #0A8200;
}
