.Blogs {
    font-family: 'Libre Baskerville', serif;
    /*text-align: center;*/

}
.Blogs .title {
     font-size: 28px;
     margin-bottom: 2rem;
     margin-top: 2rem;
     margin-left: 2rem;
     color:var(--textColor)
 }

.Blogs #buttonSpace{
    margin-top: 2rem;
    text-align: center;
}
.Blogs #buttonSpace #viewAll{
    text-decoration: none;
    color:black;
    outline: black 1px solid;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-left: auto;
}
.Blogs #buttonSpace #viewAll:hover{
    background: black;
    color: white;
}

.Blogs .swiper {
    padding: 2rem !important;
}

.Blog {
    display: flex;
    flex-direction: row-reverse;
    width:100%;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px var(--shadowColor);
    border-radius: 10px;
    text-align: left;
}

.Blog #BlogDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding: 2rem;
    background: var(--accentColor);
    border-radius: 0 10px 10px 0;
}

.Blog #CoverImg {
    height: 480px;
    width: 70%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.Blog #BlogDetails #type, .Blog #BlogDetails #text {
    color: var(--accentColor2);
    font-weight: lighter;
}

.Blog #BlogDetails h2 {
    font-size: 23px;
    color:var(--textColor)
}

.Blog #BlogDetails span {
    align-self: baseline;
    background: var(--accentColor2);
    width: 55px;
    height: 1px;
}

.Blog #footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Blog #footer #icon {
    color: #9b9a9a;

}

.Blog #footer h3 {
    width: 100%;
    color:var(--textColor);
    margin-right: 1rem;
}

.Blog #footer a {
    display: flex;
    width: 60px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    color: var(--textColor);
    font-size: 3vh;
}


@media (max-width: 768px) {
    .Blogs .title {
        font-size: 24px;
        margin: 1rem 0 0 0;
        text-align: center;
        color:var(--textColor)
    }
    .Blog{
        height: 20rem;
        width: 100%;
    }
    .Blog #CoverImg {
        height: 100%;
        width: 40%;
    }
    .Blog #BlogDetails {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        box-sizing: border-box;
        padding: 1rem;
    }
    .Blog #BlogDetails h3 {
        font-size: 13px;
    }
    .Blog #BlogDetails h2 {
        font-size: 16px;
    }
}