.ProductFilters{
    overflow-y: scroll;
    overflow-x: hidden ;
    position: relative;
    font-family: 'Libre Baskerville', serif;
    width: 20rem;
    height: 50rem;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px  var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px  var(--shadowColor);
    border-radius: 10px;
    margin: 1rem;
    animation: unHide 0.75s forwards ;
    background-color: var(--accentColor)
}
@keyframes unHide {
    0%{
        left: -30rem;

    }
    50%{

    }
    100%{
        left: 0;

    }
}

.Hide{
    animation: hide 0.5s forwards;
}
@keyframes hide {
    0%{
        left: 0;

    }
    50%{

    }
    100%{
        left: -30rem;

    }
}
.ProductFilters .Container{
    margin: 1rem;
}

