.EndSection{
    display: flex;
    width: 80%;
    justify-content: space-around;
    background-color: var(--accentColor);
}
@media (min-width: 768px) and (max-width: 1024px) {
    .EndSection{
        width: 60%;
        justify-content: space-between;
    }
}
@media (max-width: 768px) {
    .EndSection {
        width: 100%;
        height: 8rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0.5rem 0;
        border-radius: 0 0 20px 20px;
    }
}