
.swiper-pagination-bullet-active{
    width: 13px;
    height: 13px;
}

.OfferImg{
    object-fit: cover;
    width: 100%;
    background-color: white;
}

.OffersExplore{
    /*color: black!important;*/
    position: absolute;
    /*outline: solid black 1px !important;*/
    /*border-radius: 5px;*/
    padding: 0.5rem 2rem;
    right: 18%;
    bottom:24% ;
    font-size: 18px;
}
