.parent {
    width: 50%;
    display: grid;
    grid-template-columns: 0.15fr repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0;
    /*height: 46rem;*/

}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 1 / 2 / 6 / 4; }

.div1 img , .div2 img , .div3 img , .div4 img , .div5 img{
    aspect-ratio: 1/1;
    width: 8rem;
    object-fit: cover;
    border-radius: 10px;
}
.parent div{
    transition-duration: 0.25s;
}
.parent div:hover:not(.div6){
    scale: 1.05;
    cursor: pointer;
}

.div6 img{
    aspect-ratio: 1/1;
    width: 44rem;

    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .parent {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr) 0.2fr;
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }

    .div1 { grid-area: 3 / 1 / 4 / 2; }
    .div2 { grid-area: 3 / 2 / 4 / 3; }
    .div3 { grid-area: 3 / 3 / 4 / 4; }
    .div4 { grid-area: 3 / 4 / 4 / 5; }
    .div5 { grid-area: 3 / 5 / 4 / 6; }
    .div6 { grid-area: 1 / 1 / 3 / 6; }

    .div1 img , .div2 img , .div3 img , .div4 img , .div5 img{
        aspect-ratio: 1/1;
        width: 4rem;
        object-fit: cover;
        border-radius: 10px;
    }
    .parent div{
        transition-duration: 0.25s;
    }
    .parent div:hover:not(.div6){
        scale: 1.05;
        cursor: pointer;
    }

    .div6 img{

        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}