.ProductFilters h2 , .ProductFilters h1{
    color: var(--textColor);
}

.ProductFilters .Sticky{
    position: sticky;
    top:0;
    background-color: var(--accentColor);
    padding-bottom:1rem;
    box-sizing: border-box;
}

.ProductFilters .Tags{
    display:flex;
    flex-flow: wrap;
}
.ProductFilters .Tags .Tag{
    background : #F0F0F0;
    color:black ;
    border-radius:10px;
    width:fit-content;
    height: fit-content;
    padding:5px 12px;
    margin:5px;
    opacity: 0;
    animation: add 0.5s forwards;
    display: flex;
    align-items: center;
}
@keyframes add {
    100%{
        opacity: 1;
    }
}
.ProductFilters .Close__Button {
    text-align: right;

}
.ProductFilters .Close__Button button{
    color: var(--textColor);

}
.ProductFilters .Close__Button button , .ProductFilters .Tags button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 1rem;
}
.ProductFilters .Tags button{
    display: flex;
    align-items: center;
}
.ProductFilters .Close__Button button:hover , .ProductFilters .Tags button:hover{
    color: #b03535;
}

.ProductFilters .Close__Button .remove{
    visibility: hidden;
    opacity: 0;
}
@media (max-width: 768px) {
    .ProductFilters .Close__Button .close{
        font-size: 20px;
    }
    .selectedTags h1{
        font-size: 18px;
    }
}