.ProductFilters h2 , .ProductFilters h1{
    color: var(--textColor);
}

.ProductFilters .Sticky{
    position: sticky;
    top:0;
    background-color: var(--accentColor);
    padding-bottom:1rem;

}

.ProductFilters .selectedTags{
    display:flex;
    flex-flow: wrap;


}
.ProductFilters .selectedTags .Tag{
    background : #F0F0F0;
    color:black ;
    border-radius:10px;
    width:fit-content;
    height: fit-content;
    padding:5px 12px;
    margin:2px;
    opacity: 0;
    animation: add 0.5s forwards;
}
@keyframes add {
    100%{
        opacity: 1;
    }
}
.ProductFilters .Close__Button {
    text-align: right;
}
.ProductFilters .Close__Button button{
    color: var(--textColor);
}
.ProductFilters .Close__Button button , .ProductFilters .selectedTags button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;

}
.ProductFilters .Close__Button button:hover , .ProductFilters .selectedTags button:hover{
    color: #b03535;
}

.ProductFilters .Close__Button .remove{
    visibility: hidden;
    opacity: 0;
}