.DealsOfTheDay{
    margin-top: 5rem;
    font-family: 'Libre Baskerville', serif;
}

.DealsOfTheDay #title{
    font-size: 28px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    color: var(--textColor);
}

.DealOfTheDay{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px var(--shadowColor);
    border-radius: 10px;
    margin: 1rem;
    background-color: var(--accentColor);
}

.DealOfTheDay img{
    border-radius:10px 10px 0 0 ;
}
.DealOfTheDay img:nth-child(1){
    aspect-ratio: 1/1;
    height: 220px ;
    width: 24vw;
    object-fit: cover;
}

.DealOfTheDay img:nth-child(2){
    aspect-ratio: 1/1;
    height: 60px ;
    width: 130px;
    object-fit: fill;
    margin-top: 10px;
}

.DealOfTheDay h2{
    margin: 2rem 0 10px 0;
    color: var(--textColor);
}
.DealOfTheDay h4{
    margin-top: 0;
    color:var(--textColor);
}

@media (max-width: 768px) {

    .DealOfTheDay img:nth-child(1){
        width: 80vw;
    }

}
