
.TrendingOffers .title{
    font-size: 28px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    color: var(--textColor);
}
.TrendingOffer{
    display: flex;
    width: fit-content;
    box-shadow: 0 0 10px 1px var(--shadowColor);
    -webkit-box-shadow: 0 0 10px 1px var(--shadowColor);
    -moz-box-shadow: 0 0 10px 1px var(--shadowColor);
    border-radius: 10px;
}
.TrendingOffer #OfferDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background: var(--accentColor);
    border-radius: 10px 0 0 10px;

}
.TrendingOffer #OfferDetails h2{
    font-size: 23px;
    text-align: center;
    color: var(--textColor);
}
.TrendingOffer #CoverImg{
    height: 480px;
    width: 480px;
    object-fit: cover;
    border-radius: 0 10px 10px 0 ;
}
.TrendingOffers .swiper {
    padding: 2rem !important;
}
/*.swiper-slide{*/
/*    width: fit-content !important;*/
/*}*/
@media (max-width: 768px) {
    .TrendingOffer {
        height: 20rem;
    }

    .TrendingOffer #OfferDetails {
        width: 6rem;
        height: calc(100% - 2rem);
        justify-content: space-around;
        padding: 1rem;
    }

    .TrendingOffer #OfferDetails img {
        width: 6rem;
    }

    .TrendingOffer #OfferDetails h2 {
        font-size: 23px;
    }

    .TrendingOffer #CoverImg {
        height: 100%;
        width: 40vw;
    }
}
