.TrendingItems{
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Libre Baskerville', serif;
}
.TrendingItems .swiper{
    padding: 1rem !important;
}
.TrendingItems h2{
    font-size: 28px;
    margin-bottom: 2rem;
}

